<app-anuncios></app-anuncios>
<div id="principal">
    <div style="max-width: 40rem;">
        <app-ficha-principal [texto_rojo]="'PRÓXIMOS '" [texto_negro]="' ESTRENOS'" [imagen]="'icon-movies.png'"></app-ficha-principal>
        <div class="block_inf">



                <br>
                <div class="tarjeta-pelicula" *ngFor="let p of proxEstrenos">
                     <div class="imagen-p">
                        <img src="../../../../assets/img/peliculas/{{p.ID_PELICULA}}.jpg" alt="PELICULA">
                    </div>
     
                    <div class="descripcion-p">
                        <img src="../../../../assets/img/estrella_roja.png">
                        <b class="titulo-pelicula">{{p.NOMBRE}}</b>
                        <br>
                        <span class="atributo">Género: </span><span class="texto-gris">{{p.GENERO}}</span><br>
                        
                        <!--<span class="atributo">Director: </span><span class="texto-gris">{{p.DIRECTOR}}</span><br>-->
                        <!---<span class="atributo">Protagonistas: </span><span class="texto-gris">*ngFor="let protagonista of p.getProtagonistas()">{{protagonista}}, </span><br>Funciona asi esto?-->
                        <span class="atributo">Calificación: </span><span class="texto-gris">{{p.CALIFICACION}}</span><br>
                        <span class="atributo">Duración: </span><span class="texto-gris">{{p.DURACION}}</span><br>
                        <span class="atributo">Fecha Estreno: </span><span class="texto-gris">{{p.FECHAESTRENO.slice(8,10)}}/{{p.FECHAESTRENO.slice(5,7)}}/{{p.FECHAESTRENO.slice(0,4)}}</span><br>
                        <span class="atributo">Reseña: </span><span class="texto-gris">{{p.RESENIA.slice(0,200)}}...</span><br>
                        <br>
                    </div>
    
    
                </div>


            
        









            <!---
            <div class="Fechas" style="text-align: right; margin-top: 60px;">  Desde: <time>Jueves 30 de Mayo de 2019</time> </div>
            <article>
                <hr>

                <h4 style="text-align: left; margin: 10px">GODZILLA 2: EL REY DE LOS MONSTRUOS</h4>


                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/Godzilla2.jpg">
                <p class = "detalles" style="text-align: justify">
                    La agencia crypto-zoológica: Monarch se enfrenta al ataque de una serie 
                    de monstruos del tamaño de dioses que incluye al poderoso Godzilla, quién 
                    se enfrenta con Mothra, Rodan y el Rey Ghidorah de tres cabezas
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Acción Ciencia Ficción Aventuras</li>
                    <li><strong class="remarca">Director</strong> Michael Dougherty</li>
                    <li><strong class="remarca">Protagonistas</strong>: Millie Bobby Brown, Sally Hawkins, Vera Farmiga</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>

            </article>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px">  ROCKETMAN </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/rocketman.jpg">

                <p class = "detalles" style="text-align: justify">
                    La historia de Elton John, desde su comienzos como un 
                    prodigio en la Academia Real de música a sus primeros años de éxito,
                    pasando por su relación con Bernie Taupin.-   
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Biográfica</li>
                    <li><strong class="remarca">Director</strong>: Dexter Fletcher</li>
                    <li><strong class="remarca">Protagonistas</strong>: Taron Egerton, Jamie Bell. Richard Madden, Bryce Dallas Howard, Stephen Graham, Tate Donovan, Gemma Jones.</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>

            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px">  GARABANDAL: SOLO DIOS LO SABE </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/garabandal.jpg">

                <p class = "detalles" style="text-align: justify">
                    8 de junio de 1961. En una pequeña aldea del norte de España, 
                    San Sebastián de Garabandal, cuatro niñas afirman haber tenido
                    una aparición de San Miguel Arcángel. Días después, el 2 de julio de 1961, 
                    reciben la visita de la Virgen del Carmen. Tras esta primera vez, se siguen
                    más de dos mil encuentros con la celestial Señora...


                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Biográfica</li>
                    <li><strong class="remarca">Director</strong>: Brian Alexander Jackson</li>
                    <li><strong class="remarca">Protagonistas</strong>: Fernando García Linares, Belén Garde García</li>
                    <li><strong class="remarca">Calificación</strong>: Apta para todo público con leyenda</li>

                </ul>
            </article>
            <article>

                <hr>

                <h4 style="text-align: left; margin: 10px">MA</h4>


                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/MA.jpg">

                <p class = "detalles" style="text-align: justify">
                    Una mujer solitaria se hace amiga de un grupo de adolescentes a quienes les 
                    deja hacer una fiesta en su casa. Justo cuando los chicos comienzan a pensar 
                    que tienen mucha suerte al haber encontrado a su nueva amiga, las cosas se empiezan
                    a volver turbias y las verdaderas intenciones de su anfitriona salen a la luz.-
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Acción Ciencia Ficción Aventuras</li>
                    <li><strong class="remarca">Director</strong> Michael Dougherty</li>
                    <li><strong class="remarca">Protagonistas</strong>: Millie Bobby Brown, Sally Hawkins, Vera Farmiga</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>

            <div class="Fechas" style="text-align: right">  Desde: <time>Jueves 6 de Junio de 2019</time> </div>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px"> X-MEN: DARK PHOENIX  </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/xmen.jpg">

                <p class = "detalles" style="text-align: justify">
                    Jean Grey comienza a desarrollar increíbles poderes que la corrompen y 
                    la convierten en un Fénix oscuro. Ahora los demás X-Men deberán decidir
                    si la vida de un miembro del equipo vale más que la vida de todas las 
                    personas que habitan la Tierra.
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Acción Ciencia Ficción</li>
                    <li><strong class="remarca">Director</strong>: Simon Kinberg. </li>
                    <li><strong class="remarca">Protagonistas</strong>: Sophie Turner, Jennifer Lawrence, Jessica Chastain, Tye Sheridan, James McAvoy, Michael Fassbender, Evan Peters, Nicholas Hoult, Kodi Smit-McPhee, Alexandra Shipp.</li>
                    <li><strong class="remarca">Calificación</strong>: Apta para mayores de 13 años</li>

                </ul>
            </article>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px">  MI MASCOTA ES UN LEÓN </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/mimascotaesunleon.jpg">

                <p class = "detalles" style="text-align: justify">
                    Una niña se muda de Londres a Africa con sus padres, 
                    donde se hace amiga de un cachorro de león.
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Animación Familiar Aventuras</li>
                    <li><strong class="remarca">Director</strong>: Gilles de Maistre</li>
                    <li><strong class="remarca">Protagonistas</strong>: Mélanie Laurent, Langley Kirkwood, Tessa Jubber.</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>

            <div class="Fechas" style="text-align: right; margin-top: 55px;">  Desde: <time>Jueves 13 de Junio de 2019</time> </div>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px">  DOLOR Y GLORIA </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/dolorygloria.jpg">

                <p class = "detalles" style="text-align: justify">
                    Del director Pedro Almódovar, Antonio Banderas interpreta a Salvador Mallo, 
                    un aclamado director de cine que se encuentra en su ocaso. Su memoria lo llevará 
                    hasta su infancia en los años 60s, a sus primeros amores, su madre, su primer amor 
                    adulto en los 80, el descubrimiento del cine y las diferentes etapas de su vida.-
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Comedia Drama</li>
                    <li><strong class="remarca">Director</strong>: Pedro Almodóvar </li>
                    <li><strong class="remarca">Protagonistas</strong>: Antonio Banderas, Penélope Cruz, Leonardo Sbaraglia.</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px"> MIB: INTERNACIONAL  </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/MIB.jpg">

                <p class = "detalles" style="text-align: justify">
                    Los Hombres de Negro han protegido a la Tierra siempre de la basura del universo.
                    En esta nueva aventura, enfrentarán la mayor amenaza hasta el momento: un topo 
                    dentro de la organización.
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Acción Comedia Ciencia Ficción Aventuras</li>
                    <li><strong class="remarca">Director</strong>: F. Gary Gray</li>
                    <li><strong class="remarca">Protagonistas</strong>: Chris Hemsworth, Rebecca Ferguson, Tessa Thompson, Liam Neeson, Emma Thompson, Kumail Nanjiani.</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px">  EL ÁRTICO </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/elartico.jpg">

                <p class = "detalles" style="text-align: justify">
                    Un hombre (Mads Mikkelsen) varado en el Ártico está por recibir 
                    finalmente su tan aguardado rescate. Sin embargo, tras un trágico 
                    accidente pierde esta oportunidad. A partir de este hecho, debe decidir 
                    si se queda resguardado en su campamento, donde está relativamente a salvo, 
                    o si se embarca en una mortal excursión a través de lo desconocido para salvarse.
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Drama</li>
                    <li><strong class="remarca">Director</strong>: Joe Penna</li>
                    <li><strong class="remarca">Protagonistas</strong>: Mads Mikkelsen</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido </li>

                </ul>
            </article>


            <div class="Fechas" style="text-align: right">  Desde: <time>Jueves 20 de Junio de 2019</time> </div>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px">  TOY STORY 4 </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/toystory4.jpg">

                <p class = "detalles" style="text-align: justify">
                    La película no seguiría la historia exactamente de la trilogía anterior. 
                    En su lugar, se concentraría en la historia de amor entre Woody y Betty, 
                    quién al parecer se perderá en esta entrega y Buzz y Woody irán en su búsqueda.
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Animación Familiar Aventuras</li>
                    <li><strong class="remarca">Director</strong>: Josh cooley</li>
                    <li><strong class="remarca">Protagonistas</strong>: Tom Hanks, Tim Allen, Joan Cusack, Patricia Arquette, Laurie Metcalf, Bonnie Hunt</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>

            <div class="Fechas" style="text-align: right">  Desde: <time>Jueves 5 de Julio de 2019</time> </div>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px">  SPIDERMAN: LEJOS DE CASA </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/spiderman.jpg">

                <p class = "detalles" style="text-align: justify">
                    Después de los eventos ocurridos en Avengers: Infinity War, 
                    Peter Parker se va de viaje con sus amigos por Europa. 
                    Pero deberá enfrentear las responsabilidades que todavía 
                    tiene por ser Spiderman.
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Aventuras Comic</li>
                    <li><strong class="remarca">Director</strong>: Jon Watts</li>
                    <li><strong class="remarca">Protagonistas</strong>: Tom Holland, . Zendaya, Jake Gyllenhaal.</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>

            <div class="Fechas" style="text-align: right">  Desde: <time>Jueves 24 de Julio de 2019</time> </div>
            <article>
                <hr>
                <h4 style="text-align: left; margin: 10px"> EL REY LEÓN  </h4>
                <img style="float:left; margin:10px;" src="assets/img/proxestrenos/elreyleon.jpg">

                <p class = "detalles" style="text-align: justify">
                    Version CGI del clásico de Disney. Simba, un cachorro 
                    de león, es el heredero al trono en la sabana africana. 
                    Su padre, el Rey Mufasa, de quien aprende todo lo que necesita 
                    saber para enfrentar su destino...
                </p>
                <ul class = "detalles">
                    <li><strong class="remarca">Género</strong>: Animación Familiar Aventuras</li>
                    <li><strong class="remarca">Director</strong>: Jon Favreau.</li>
                    <li><strong class="remarca">Protagonistas</strong>: Donald Glover, Seth Rogen, Chiwetel Ejiofor, James Earl Jones, Beyoncé Knowles.</li>
                    <li><strong class="remarca">Calificación</strong>: Desconocido</li>

                </ul>
            </article>
--->

        </div>

    </div>

</div>

<!--  REUSABILIDAD
    <article>
            <hr>
            <h4 style="text-align: left; margin: 10px">   </h4>
            <img style="float:left; margin:10px;" src="assets/img/proxestrenos/.jpg">
            
            <p class = "detalles" style="text-align: justify">
                    
            </p>
            <ul class = "detalles">
                <li><strong class="remarca">Género</strong>: </li>
                <li><strong class="remarca">Director</strong>: </li>
                <li><strong class="remarca">Protagonistas</strong>: </li>
                <li><strong class="remarca">Calificación</strong>: </li>
                    
            </ul>
    </article>
-->




