<div id="principal">
    <div style="max-width: 40rem;">
        <app-ficha-principal [texto_rojo]="'CONTACTO '" [texto_negro]="' · CINEMACENTER · '" [texto_light]="'ARGENTINA'" [imagen]="'icon-movies.png'"></app-ficha-principal>
        <div class="block_inf">
            <div class="row-fluid">
                <h4 class="text-center" style="margin-bottom: 20px;">¿Consultas? hac&eacute; click y sacate la duda al instante</h4>

                <div class="mini_menu">
                    <ul>
                        <li>
                            <div class=" button ">
                                <a routerLink="/horarios"><button><span>Horarios</span></button></a>
                            </div>
                        </li>
                        <li>
                            <div class="button ">
                                <a routerLink="/precios"><button><span>Precios</span></button></a>
                            </div>
                        </li>
                        <li>
                            <div class="button ">
                                <a routerLink="/beneficios"><button><span>Promociones</span></button></a>
                            </div>
                        </li>
                        <li>
                            <div class="button ">
                                <a routerLink="/calificaciones"><button><span>Menores</span></button></a>
                            </div></li>
                        <li> <div class="button ">
                                <a routerLink="/sorteos-semanales"><button><span>Sorteos</span></button></a>
                            </div>
                        </li>
                        <li> <div class="button ">
                                <a routerLink="/proximos-estrenos"><button><span>Pr&oacute;ximos Estrenos</span></button></a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row-fluid" style="margin-top: 10px;">
                <h6>MEDIANTE ESTE FORMULARIO NO SE RECIBEN RESERVAS</h6>
               
                <ul  class="lista_estrella"><li>Su opini&oacute;n es importante para nosotros, por lo que puede usar este formulario para realizar consultas y/o comentarios sobre nuestro servicio.</li></ul>

                <form ngNativeValidate class="form-horizontal form_cinema" #consultaForm="ngForm" (ngSubmit)=(registrarConsulta(consultaForm))>
                    <fieldset>
                        <legend></legend>
                        <div class="control-group" >
                            <label class="control-label" for="nombre"><strong>Nombre:</strong></label>

                            <div class="controls">
                                <input type="text" minlength="4"  maxlength="50"  id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Nombre Completo" required />
                            </div>
                        </div>
                        <div class="control-group" >
                            <label class="control-label" for="apellido"><strong>Apellido</strong></label>

                            <div class="controls">
                                <input type="text" minlength="4"  maxlength="50"  id="apellido" name="apellido" [(ngModel)]="apellido" placeholder="Apellido" required />
                            </div>
                        </div>
                        <div class="control-group" >
                            <label class="control-label" for="email"><strong>Email:</strong></label>
                            <div class="controls">
                                <input type="email"  maxlength="100"  id="email" name="email" [(ngModel)]="email"  placeholder="ejemplo@email.com"  required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="telefono"><strong>Tel&eacute;fono:</strong></label>
                            <div class="controls">
                                <input type="text" pattern="\d*" minlength="10"  maxlength="50"  id="telefono" name="telefono" [(ngModel)]="telefono" placeholder="Tel&eacute;fono" required />
                            </div>
                        </div>
                        <div class="control-group" id="ciudadDiv" >
                            <label class="control-label" for="ciudad"><strong>Ciudad:</strong></label>
                            <div class="controls">
                                <div  *ngIf="show; else notShow">
                                    <select id="ciudad" name="ciudad"  [(ngModel)]="ciudad.status"  required oninvalid="this.setCustomValidity('Debes elegir una ciudad')"
 oninput="setCustomValidity('')">
                                        <option  [value]="''" [selected]="ciudad.status ==''" disabled >(Elija su ciudad)</option>
                                         <option  *ngFor="let ciudad of ciudades" [value]="ciudad.getNombre()">
                                            {{ciudad.getNombre()}}
                                         </option>
                                    </select>
                                </div>
                                 <ng-template id="div_sesion"  name="div_sesion"   #notShow >
                                    <div id="inputCiudad">
                                        <input type="text" minlength="5" maxlength="100"  id="ciudad2" name="ciudad2" [(ngModel)]="ciudad2" placeholder="Ciudad" />
                                    </div>
                                 </ng-template >
                                    
                                <label >Otra<input type="checkbox" id="otra" name="otra"  [(ngModel)]="otra"  (click)="show = !show;otra=true"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="motivo"><strong>Motivo</strong></label>
                            <div class="controls">
                                <select id="motivo" name="motivo"  [(ngModel)]="motivo.status"  required oninvalid="this.setCustomValidity('Debes elegir un motivo')"
 oninput="setCustomValidity('')">
                                    <option  [value]="''" [selected]="motivo.status ==''" disabled >(Elija un motivo)</option>
                                    <option value="publicidad">Por publicidad en los cines</option>
                                    <option value="consulta general">consulta general</option>
                                    <option value="critica">Para hacer una cr&iacute;tica</option>
                                    <option value="proyeccionPelicula">Por una ple&iacute;cula en proyecci&oacute;n</option>
                                    <option value="estrenoPelicula">Por un pr&oacute;ximo estreno</option>
                                    <option value="otro">Otro motivo diferente...</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consulta"><strong>Consulta</strong></label>
                            <div class="controls">
                                <textarea required minlength="10" maxlength="500"  id="consulta" name="consulta"  [(ngModel)]="consulta" class="input_bg"   ></textarea>
                            </div>
                        </div>
                        <div class="controls button btn-cine boton_rojo botonSubmit">
                            <button type="submit"><span>ENVIAR CONSULTA</span></button>
                        </div>
                    </fieldset>

                </form>
                <!--{{consultaForm.value | json }}-->
                <ul  class="lista_estrella"><li>Le recordamos que el procesamiento de su consulta puede demorar hasta 48hs, sepa disculpar las molestias. <span class="rojo">Muchas gracias.</span></li></ul>

            </div>
            <!--legend es la barra horizontal que delimita el form , pero solo se lo puede usar dentro de la etiqueta fieldset-->
            <fieldset>
                <legend></legend>
            </fieldset>
            <div class="row-fluid">
                <br>
                <div class="titulo">
                    <strong class="myriad rojo">RRHH </strong><strong class="myriad">·   CINEMACENTER  ·  </strong><span>ARGENTINA</span>
                    <ul  class="lista_estrella">
                        <li>Para formar parte de nuestro Staff de Cinemacenter, por favor envianos un mail haciendo click <a routerLink="/recursos-humanos"><span class="rojo">aquí.</span></a>
                        </li>
                    </ul>

                </div>

                
            </div>
        </div>


    </div>


</div>




