<div class="item_sidebar">
    <app-ficha [titulo]="'BENEFICIOS'" [subtitulo]="'·PROMOCIONES'" [imagen]="'icon-promos.png'"></app-ficha>
    <div class="block_item">
        <div id="myCarousel2" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
                <li data-target="#myCarousel2" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="active item">
                    <a routerLink="/beneficios" routerLinkActive="active"><img src="../../../assets/img/beneficios/1.jpg" alt=""></a>
                    <div class="carousel-caption" style="padding-left: 8px;height: 10px;width: 310px; background-color: black;">
                        <b>Banco Santander Río </b><a routerLink="/beneficios" style="color:grey;">Click aquí para <b id="masInfo">Más Info</b></a>
                    </div>
                </div>
                <div class="item">
                    <a routerLink="/beneficios" routerLinkActive="active"><img src="../../../assets/img/beneficios/3.jpg" alt=""></a>
                    <div class="carousel-caption" style="text-align: left;height: 10px;width: 310px;background-color: black;">
                        <b>Club personal </b><a routerLink="/beneficios" style="color:grey; margin-left:25px;">Click aquí para <b id="masInfo">Más Info</b></a>
                    </div>
                </div>
                <div class="item">
                    <a routerLink="/beneficios" routerLinkActive="active"><img src="../../../assets/img/beneficios/2.jpg" alt=""></a>
                    <div class="carousel-caption" style="text-align: left;height: 10px;width: 310px;background-color: black;">
                        <b>Tarjeta Cencosud </b><a routerLink="/beneficios" style="color:grey; margin-left:15px;">Click aquí para <b id="masInfo">Más Info</b></a>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
<div class="item_sidebar">
    <app-ficha [titulo]="'SORTEOS '" [subtitulo]="'SEMANALES'" [imagen]="'icon-clapperboard.png'"></app-ficha>
    <div class="block_item">
        <a routerLink="/sorteos-semanales"><img src="../../assets/img/ccachica.jpg" style="margin-bottom: 10px;"></a>

        <a routerLink="/noticias" routerLinkActive="active"><img src="../../assets/img/sidebar-newsletter.png" style="margin-bottom: 10px;"></a>
        <a routerLink="/recursos-humanos" routerLinkActive="active"><img src="../../assets/img/sidebar-rrhh.jpg"></a>

    </div>
</div>
<div class="item_sidebar">
    <div class="block_item" id="facebook">
        <!--FRAME REDES SOCIALES  -->
        <div class="cabecera">
        <img src="../../../assets/img/icon-facebook-likebox.png">Seguinos en Facebook
        </div>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCinemacenterArgentina&amp;width=298&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:298px; height:258px;" allowtransparency="true"></iframe>
    </div>
</div>
