<div id="form_corrou"> 
        <form action="#" class="form-inline form_cinema ">
            <fieldset>
                    <div class="control-group" id="r4Div">
                        <select id="r1" name="r1"  >
                            <option value="">SELECCIONA TU CIUDAD</option>
                            <option value="1">Alta Gracia</option>
                            <option value="2">Bahía Blanca</option>
                            <option value="3">Catamarca</option>
                            <option value="4">Corrientes</option>
                            <option value="5">Florencio Varela</option>
                            <option value="6">La Rioja</option>
                            <option value="7">Mar del Plata</option>
                            <option value="8">Mendoza</option>
                            <option value="9">Resistencia</option>
                            <option value="10">Rio Cuarto</option>
                            <option value="11">San Juan</option>
                            <option value="12">San Luis</option>
                            <option value="13">Santiago del Estero</option>
                            <option value="14">Tandil</option>
                            <option value="15">Tucuman</option> 
                        </select>
                        <select id="r2" name="r2"  >
                            <option *ngFor="let peli of peliculas" (onClick)="this.verPelicula()">{{peli.NOMBRE}}</option>
                        </select>
                </div>
            </fieldset>
        </form>

    </div>
<div id="myCarousel" class="carousel slide" style="margin-bottom: 0px;">
 
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">

        <div class="active item">
            <img src="assets/img/pikachu.jpg" alt="">
            <div class="carousel-caption">
                <h4>POKEMON: DETECTIVE PICKACHU</h4>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/dumbo.jpg" alt="">
            <div class="carousel-caption">
                <h4>DUMBO</h4>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/avengers.jpg" alt="">
            <div class="carousel-caption">
                <h4>AVENGERS</h4>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/llorona.jpg" alt="">
            <div class="carousel-caption">
                <h4>LA MALDICION DE LA LLORONA</h4>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
   
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
   
<img src="../../../assets/img/shadow-8.png" style="margin-bottom:0px;">
</div>